/* ------------ general ------------ */
.name-block{
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.title-block-odd{
    color: #232536;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
}
.title-block-even{
    color: #232536;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
}
.text-block{
    color: #232536;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

/*------------ company ------------*/
.company{
    background: #ffffff;
    /* margin-bottom: 96px; */
    padding: 96px 0;
}
.company__icons{
    display: flex;
    position: relative;
    margin: 0 0 50px 0;
}
.company__icons.img-icon{
    display: inline;
}
.blue-box{
    position: absolute;
    top: 0;
    left: 0;
}
.colorful-box{
    position: absolute;
    top: 0;
    right: 0;
}
.company-name-block{
    margin: 24px 0 20px 0;
}
.company__title{
    max-width: 664px;
    max-height: 174px;
    margin: 0 0 24px 0;
}
.company__text{
    max-width: 719px;
    max-height: 48px;
    margin: 0 0 64px 0;
}

.company__images{
    display: flex;
    justify-content: space-between;
}
.company__item{
    margin: 0 12px 0 0;
}
.company__item:last-child{
    margin: 0;
    position: relative;
}
.company__item:last-child::before{
    position: absolute;
    content: "";
    background: url("/images/company/company-row/Rectangle-gen.png") no-repeat;
    width: 100%;
    height: 24px;
    top: -24px;
    margin-left: 60px;
}


/*------------ our_story ------------*/
.our_story__item_number{
    color: var(--Black, #232536);
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
}
.our_story__item_text{
    color: var(--Black, #232536);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.our_story{
    background: #ffffff;
    padding-bottom: 96px;
}
.our_story-row{
    display: flex;
    justify-content: space-between;
}
.our_story__icon{
    margin-bottom: 16px;
}
.our_story__name-block{
    margin-bottom: 16px;
}
.our_story__title{
    max-width: 549px;
    max-height: 108px;
    margin-bottom: 24px;
}
.our_story__text{
    max-width: 550px;
    max-height: 144px;
}
.our_story__left-block{
    max-width: 50%;
}
.our_story__right-block{
    background-color: rgba(255, 211, 175, 0.57);
    display: flex;
}
.first_item{
    margin-bottom: 30px;
}
.therd_item{
    margin-bottom: 30px;
}
.right-block__left{
    padding: 62px 0 80px 110px;
    margin-right: 62px;
}
.right-block__right{
    padding: 62px 214px 80px 0;
}

/*------------ navigation --------------*/
.navigation{
    background: #ffffff;
}
.navigation-row{
    text-align: center;
}
.navigation__item{
    display: inline;
    margin-right: 32px;
}
.navigation__item:last-child{
    margin: 0;
}

/*------------ our_expertise ------------*/
.our_expertise{
    background-color: #ECF8F9;
    padding: 96px 0;
}
.our_expertise-row{
    display: flex;
    justify-content: space-between;
}
.our_expertise__left-block{
    margin-right: 140px;
}
.our_expertise__right-block{

}
.our_expertise__name-block{
    
}
.our_expertise__title{
    width: 622px;
    padding: 24px 0;
}
.our_expertise__text{
    width: 622px;
}
.our_expertise__inside-rec{
    display: flex;
    justify-content: space-between;
    color: #5D5F6D;
    background-color: #fff;
    padding: 32px 117px 32px 32px;
    margin-bottom: 12px;
}
.our_expertise__icon{
    width: 47px;
    height: 47px;
    margin-right: 16px;
}
.rec__content{

}
.inside__title{
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
.inside__text{
    color: #5D5F6D;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
/* .middle-rec{
    padding: 12px 0;
} */

/*------------ our_vision ------------*/
.our_vision{
    background: #ffffff;
    color: #232536;
}
.our_vision-row{
    margin-bottom: 96px;
}
.our_vision__name_block{
    margin-bottom: 16px;
}
.our_vision__title{
    margin-bottom: 24px;
    width: 700px;
    height: 162px;
}
.our_vision__text{
    margin-bottom: 64px;
    width: 622px;
    height: 72px;
}
.our_vision__image{
    background: url("/images/company/our_vision-row/Image.png") center/cover no-repeat;
    height: 370px;
}

/*------------ meet_our_team ------------*/
.meet_our_team__name_block{
    margin-bottom: 16px;
}
.meet_our_team__title{
    margin-bottom: 24px;
    width: 48.75%;
}
.meet_our_team__text{
    margin-bottom: 64px;
    width: 39.45%;
}

.meet_our_team-row{
    display: flex;
    flex-wrap: wrap;
}
.meet_our_team__item{
    position: relative;
    width: 24.85%;
}
.item-hover{
    display: none;
    position: absolute;
    top: 168px;
    left: 48px;
}
.teamlead_name{
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;

    margin-bottom: 8px;
}
.support{
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;

    margin-bottom: 7.725%;
}
.link-img{
    margin-right: 8.125%;
}

/*---------------------READ-----------------------*/
.sub-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary-blue, #666DFF);
    padding: 96px;
}

.sub-row::before {
    position: absolute;
    content: '';
    display: inline-block;
    background: url('../images/sub/Shapes.png') no-repeat;
    left: 0;
    top: 0;
    width: 88.588px;
    height: 80px;
}

.sub-row::after {
    position: absolute;
    content: '';
    display: inline-block;
    background: url('../images/sub/Shapes\ \(1\).png') no-repeat;
    height: 333px;
    width: 24px;
    right: 0px;
}

.sub-left {}

.sub-subtitle {
    margin-bottom: 13px;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.sub-title {
    max-width: 488px;
    color: #FFF;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
}

.sub-right {}

.sub-right__input {
    padding: 20px 29px;
    width: 454px;
    height: 64px;
    background: #FFF;
    color: #232536;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.sub-right__input::placeholder {
    color: #232536;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    opacity: 0.4;
    line-height: 24px;
}

/* ----------- contacts --------------- */
.contacts{
    padding: 64px 0;
}

.left-top__icon{
    margin-bottom: 32px;
}

.contacts-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.contacts-left{
    width: 50%;
    margin-right: 204px;
}
.contacts-title{
    width: 452px;
    margin-bottom: 40px;
}
.contacts-text{
    color: #232536;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;

    margin-bottom: 28px;
}
.contacts-number{
    margin-bottom: 4px;
}
.contacts-email{
    margin-bottom: 14px;
}
.contacts-line{
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    width: 268px;
}


.contacts-right{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.right-item__title{
    color: #232536;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;

    margin-bottom: 12px;
}
.right-item__text{
    color: #232536;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;

    margin-bottom: 12px;
}
.contacts-column{
    margin-right: 61px;
}

.contacts-bottom{
    display: flex;
    justify-content: space-between;
}
.contacts-address{
    color: #232536;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.contacts-us{
    color: #232536;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.contacts-img{
    padding: 5px 0;
}
.contacts-img:nth-child(2){
    padding: 8px 0;
}