/* company */
.company{
    background: #ffffff;
    color: #232536;
}

/* our_story */
.our_story{
    background: #ffffff;
    color: #232536;
}

/* navigation */
.navigation{
    background: #ffffff;
    color: #232536;
}

/* our_expertise */
.our_expertise{
    background: #ffffff;
    color: #232536;
}

/* our_vision */
.our_vision{
    background: #ffffff;
    color: #232536;
}

/* meet_our_team */
.meet_our_team{
    background: #ffffff;
    color: #232536;
}