.header {
    background: #232536;
    padding: 28px 0;
}
.container {
    max-width: 1256px;
    margin: 0 auto;
}
.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-menu {
    display: flex;
}
.header-menu__item:not(:last-child) {
    margin-right: 32px;
}

.header-menu__link {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    opacity: 0.6;
}

.header-menu__clone {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500; 
    color:  #FFD3AF;
}
.header-menu__item:last-child {
    display: flex;
    align-items: center;
}
.header-menu__item:last-child::after {
    display: inline-block;
    content: '';
    background: url('../images/header/arr.png') 0 7px no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 8px;
} 

.header-menu__link.active {
    opacity: 1;
}
