@charset "UTF-8";
.content {
  margin-bottom: 64px;
}

.header {
  margin-bottom: 96px;
  /*987789*/
}

.careers-content {
  max-width: 1280px;
  min-height: 697px;
  background: url(../images/careers/Shapes.png) right top no-repeat;
}
.careers-content__box-h1 {
  padding-left: 50px;
  height: 20px;
  margin-bottom: 24px;
  color: var(--Black, #232536);
  /* Caption */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 0.87;
  text-align: center;
}
.careers-content__box-h2 {
  padding-left: 50px;
  height: 174px;
  margin-bottom: 24px;
  color: var(--Black, #232536);
  text-align: center;
  /* H2 Heading */
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
}
.careers-content__box-h3 {
  padding-left: 50px;
  height: 48px;
  margin-bottom: 64px;
  color: var(--Black, #232536);
  text-align: center;
  /* Paragraph */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.87;
}
.careers-content__h4 {
  padding-left: 50px;
  color: #232536;
  margin-bottom: 16px;
  /* Paragraph Large */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  line-height: 28px;
}
.careers-content__finger {
  padding-left: 50px;
  text-align: center;
  color: #232536;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.careers-content__img {
  padding-left: 100px;
  margin-bottom: 51px;
  width: 1100px;
  height: 195px;
  flex-shrink: 0;
  fill: var(--Black, #232536);
}

.grid-container {
  margin-bottom: 96px;
  background: #ECF8F9;
  height: 949px;
  max-width: 1280px;
  display: grid;
  justify-content: center;
  align-content: center;
  row-gap: 32px;
  -moz-column-gap: 32px;
       column-gap: 32px;
  grid-template-areas: "A B C" "D E F" "G H I";
  grid-template-columns: 354px 354px 354px;
  grid-template-rows: 243px 243px 243px;
}
.grid-container__A {
  grid-area: A;
}
.grid-container__B {
  grid-area: B;
}
.grid-container__C {
  grid-area: C;
}
.grid-container__D {
  grid-area: D;
}
.grid-container__E {
  grid-area: E;
}
.grid-container__F {
  grid-area: F;
}
.grid-container__G {
  grid-area: G;
}
.grid-container__H {
  grid-area: H;
}
.grid-container__I {
  grid-area: I;
}

.grid-container_moda {
  padding: 48px 0 0 48px;
  width: 354px;
  height: 243px;
  background: #FFF;
}
.grid-container_moda__bold {
  color: var(--Black, #232536);
  /* H6 Heading */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 10px;
}
.grid-container_moda__light {
  color: var(--Black, #232536);
  /* Paragraph */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 52px;
}
.grid-container_moda__href {
  color: var(--iris-100, #5D5FEF);
  /* Text link */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.grid-container_moda__href::after {
  content: " " " " " " url(../images/careers/Icon.png);
  /*--------------- our work cuite*/
}

.workculture {
  display: flex;
  justify-content: center;
  max-width: 1600px;
  min-height: 884px;
  background: #FAFAFC;
}

.work-culture__h1 {
  padding-top: 96px;
  margin-bottom: 16px;
  color: #000;
  opacity: 0.87;
  /* Caption */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.work-culture__h2 {
  margin-bottom: 24px;
  color: #232536;
  /* H3 Heading */
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
}
.work-culture__h3 {
  margin-bottom: 64px;
  color: #232536;
  /* Paragraph */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.work-culture__grid {
  max-width: 1281px;
  min-height: 388px;
  display: grid;
  justify-content: center;
  align-content: center;
  row-gap: 12px;
  -moz-column-gap: 12px;
       column-gap: 12px;
  grid-template-areas: "A B C" "D E F";
  grid-template-rows: 188px 188px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 419px));
}

.workculture-grid__A {
  grid-area: A;
}
.workculture-grid__B {
  grid-area: B;
}
.workculture-grid__C {
  grid-area: C;
}
.workculture-grid__D {
  grid-area: D;
}
.workculture-grid__E {
  grid-area: E;
}
.workculture-grid__F {
  grid-area: F;
}

.workculture-grid_moda {
  padding: 32px 0 0 32px;
  background: #FFF;
}
.workculture-grid_moda__bold {
  color: var(--Black, #232536);
  /* H6 Heading */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 10px;
}
.workculture-grid_moda__light {
  color: var(--Black, #232536);
  /* Paragraph */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 32px;
}
.workculture-grid_moda__circle {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: rgba(255, 211, 175, 0.5019607843);
  fill: rgba(255, 211, 175, 0.5);
}
.workculture-grid_moda__circle img {
  width: 14.47px;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@media (max-width: 1200px) {
  .workculture-grid {
    grid-template-areas: "A B" "C D" "E F";
  }
}
@media (max-width: 800px) {
  .workculture-grid {
    grid-template-areas: "A" "B" "C" "D" "E" "F";
  }
}
/* ---------------   CTA   NEWSLETTER  --------------*/
.newslettern {
  display: flex;
  position: relative;
  margin-bottom: 96px;
  max-width: 1280px;
  min-height: 333px;
}
.newslettern__img {
  position: absolute;
  left: 0;
  top: 0;
}
.newslettern__h1 {
  padding-top: 96px;
  margin-bottom: 12px;
  color: #FFF;
  /* Caption */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.newslettern__h2 {
  padding-bottom: 96px;
  width: 488px;
  color: #FFF;
  /* H3 Heading */
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
}
.newslettern__blue {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 1256px;
  height: 333px;
  background: var(--secondary-blue, #666DFF);
}
.newslettern__blue-right {
  padding-top: 141px;
  padding-bottom: 128px;
}
.newslettern__input-email {
  width: 454px;
  height: 64px;
  color: black;
}
.newslettern__rectange-top {
  width: 24px;
  height: 75px;
  background: #FFA155;
}
.newslettern__rectange-center {
  width: 24px;
  height: 195px;
  background: #FFD3AF;
}
.newslettern__rectange-bottom {
  width: 24px;
  height: 63px;
  background: #4F56FF;
}

@media (max-width: 768px) {
  .newslettern {
    min-height: 333px;
  }
  .newslettern__h2 {
    max-width: 300px;
  }
  .newslettern__blue {
    max-width: 999px;
    min-height: 333px;
  }
  .newslettern__blue-right {
    padding-top: 141px;
    padding-bottom: 128px;
  }
  .newslettern__input-email {
    max-width: 300px;
  }
  .newslettern {
    max-width: 768px;
    min-height: 333px;
  }
  .newslettern__blue {
    max-width: 744px;
    min-height: 333px;
    background: var(--secondary-blue, #666DFF);
  }
  .newslettern__blue-right {
    padding-top: 141px;
    padding-bottom: 128px;
  }
  .newslettern__input-email {
    max-width: 200px;
  }
  .newslettern {
    max-width: 320px;
    min-height: 500px;
  }
  .newslettern__h1 {
    padding-top: 60px;
    margin-bottom: 10px;
  }
  .newslettern__h2 {
    padding: 0;
    margin-bottom: 10px;
    width: 279px;
    color: #FFF;
    /* H3 Heading */
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
  }
  .newslettern__blue {
    flex-wrap: wrap;
    max-width: 289px;
    min-height: 500px;
    background: var(--secondary-blue, #666DFF);
  }
  .newslettern__blue-right {
    padding-top: 41px;
    padding-bottom: 28px;
  }
  .newslettern__input-email {
    max-width: 279px;
  }
  .newslettern__rectangle {
    min-height: 500px;
  }
  .newslettern__rectange-top {
    width: 15px;
    min-height: 75px;
    background: #FFA155;
  }
  .newslettern__rectange-center {
    width: 15px;
    min-height: 195px;
    background: #FFD3AF;
  }
  .newslettern__rectange-bottom {
    width: 15px;
    min-height: 63px;
    background: #4F56FF;
  }
}
/*----------- footer top --------------*/
.footer-top {
  width: 1278px;
  height: 416px;
}
.footer-top__img {
  margin-bottom: 32px;
}
.footer-top__hr {
  margin-bottom: 16px;
  width: 268px;
  height: 1px;
  background: rgba(0, 0, 0, 0.08);
}
.footer-top__main {
  display: flex;
  justify-content: space-start;
  gap: 204px;
}
.footer-top__right {
  display: flex;
  justify-content: space-start;
  gap: 50px;
}
.footer-top__bottom {
  margin-bottom: 64px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer-top-main__left-make {
  margin-bottom: 40px;
  color: #232536;
  /* H2 Heading */
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
}
.footer-top-main__talk {
  margin-bottom: 28px;
  color: #232536;
  /* H4 Heading */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.footer-top-main__left-num {
  color: #232536;
  margin-bottom: 4px;
  /* Paragraph Large */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.footer-top-main__left-email {
  color: #232536;
  margin-bottom: 14px;
  /* Paragraph Large */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.footer-top-main__ul {
  margin-bottom: 15px;
}
.footer-top-main__ul a {
  padding-top: 15px;
  color: #232536;
  /* H6 Heading */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.footer-top-main__li {
  padding-top: 15px;
}
.footer-top-main__li a {
  padding-top: 15px;
  color: #232536;
  /* Paragraph Small */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.footer-top-bottom__dlf {
  color: #232536;
  /* Paragraph Small */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.footer-top-bottom__contact {
  color: #232536;
  /* Text link */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.footer-top-bottom__contact::before {
  content: url(../images/careers/footrtop/shapescontact.svg) " " " ";
}
.footer-top-bottom__contact::after {
  content: " " " " " " url(../images/careers/footrtop/iconcontact.svg);
}/*# sourceMappingURL=rid_style.css.map */