.content
    margin-bottom: 64px
.header    
    margin-bottom: 96px
    /*987789*/
    
/*--------  for js  ---------*/
.hidden
    display: none
.overlay
    position: absolute
    z-index: 2
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0,0,0,0.6) blur(3px)
.menu-btn
    display: none
.header-menu-togle
    display: none
.careers-content    
    
    // border: 1px solid red
    max-width: 1280px    
    min-height: 600px
    background: url(../images/careers/Shapes.png) right top no-repeat    
    margin-bottom: 96px
    
    &__box-h1   
        p
            min-height: none
            padding-left: 50px       
            height: 20px
            margin-bottom: 24px
            color: var(--Black, #232536)
            /* Caption */
            font-family: Poppins
            font-size: 14px
            font-style: normal
            font-weight: 500
            line-height: 20px /* 142.857% */
            letter-spacing: 3px
            text-transform: uppercase
            
            text-align: center
    &__box-h2   
        
        p
            height: auto
            padding-left: 50px  
            height: 174px
            margin-bottom: 24px
            color: var(--Black, #232536)
            text-align: center
            /* H2 Heading */
            font-family: Poppins
            font-size: 48px
            font-style: normal
            font-weight: 600
            line-height: 58px /* 120.833% */
        
    &__box-h3
        
        p
            padding-left: 50px  
            height: 48px
            margin-bottom: 64px
            color: var(--Black, #232536)
            text-align: center
            /* Paragraph */
            font-family: Poppins
            font-size: 16px
            font-style: normal
            font-weight: 400
            line-height: 24px /* 150% */
            
    &__h4
        p
            padding-left: 50px  
            color: #232536
            margin-bottom: 16px
            /* Paragraph Large */
            font-family: Poppins
            font-size: 18px
            font-style: normal
            font-weight: 500
            text-align: center
            line-height: 28px /* 155.556% */
    &__finger    
        padding-left: 50px    
        text-align: center
        color: #232536
        font-family: Poppins
        font-size: 24px
        font-style: normal
        font-weight: 500
        line-height: 24px /* 100% */
    
    &__img
        display: flex
        justify-content: center                
        margin-bottom: 51px  
        height: 10vw     
        //background: url(../images/careers/Image.svg), lightgray 50% / cover no-repeat
        //fill: var(--Black, #232536)  
        img
            fill: var(--Black, #232536) 
            max-width: 100vw 
            height: 12vw
          



 

@media (max-width: 768px)
    .careers-content 
        min-height: 350px
        &__box-h2            
            p
                font-size: 28px

@media (max-width: 425px)
    .careers-content 
        min-height: 350px
        &__box-h1            
            p
                padding: 0
                font-size: 10px
        &__box-h2            
            p
                padding: 0
                font-size: 16px
        &__box-h3            
            p
                padding: 0
                font-size: 12px
        
                
            
    /*---------grid -----------*/
    

.grid-container  
    margin-bottom: 96px     
    background: #ECF8F9
    height: 949px
    max-width: 1280px
    display: grid
    justify-content: center
    align-content: center
    row-gap: 32px
    column-gap: 32px
    // grid-template: repeat(3, 1fr) / repeat(3, 500px)
    grid-template-areas: 'A B C' 'D E F' 'G H I'  
    grid-template-columns: 354px 354px 354px
    grid-template-rows:  243px 243px 243px  

    
    &__A
        grid-area: A        
    &__B
        grid-area: B
    &__C
        grid-area: C
    &__D
        grid-area: D
    &__E
        grid-area: E
    &__F
        grid-area: F
    &__G
        grid-area: G
    &__H
        grid-area: H
    &__I
        grid-area: I

.grid-container_moda  
    padding: 48px 0 0 48px   
    width: 354px
    height: 243px    
    background: #FFF
    &__bold                 
        color: var(--Black, #232536)
        /* H6 Heading */
        font-family: Poppins
        font-size: 16px
        font-style: normal
        font-weight: 600
        line-height: 28px /* 175% */  
        margin-bottom: 10px      
    &__light                
        color: var(--Black, #232536)
        /* Paragraph */
        font-family: Poppins
        font-size: 16px
        font-style: normal
        font-weight: 400
        line-height: 24px /* 150% */
        margin-bottom: 52px    
    &__href                
        color: var(--iris-100, #5D5FEF)
        /* Text link */
        font-family: Poppins
        font-size: 16px
        font-style: normal
        font-weight: 500
        line-height: 24px /* 150% */
        &::after             
            content:"\00a0" "\00a0" "\00a0" url(../images/careers/Icon.png)



                /*--------------- our work cuite*/

.workculture
    display: flex
    justify-content: center
    max-width: 1600px
    min-height: 884px    
    background: #FAFAFC 
    margin-bottom: 96px
    
.work-culture               
    &__h1
        padding-top: 96px
        margin-bottom: 16px
        color: #000
        opacity: 0.87
        /* Caption */
        font-family: Poppins
        font-size: 14px
        font-style: normal
        font-weight: 500
        line-height: 20px /* 142.857% */
        letter-spacing: 3px
        text-transform: uppercase
    &__h2
        margin-bottom: 24px
        color: #232536
        /* H3 Heading */
        font-family: Poppins
        font-size: 36px
        font-style: normal
        font-weight: 600
        line-height: 54px /* 150% */
    &__h3
        margin-bottom: 64px
        color: #232536
            /* Paragraph */
        font-family: Poppins
        font-size: 16px
        font-style: normal
        font-weight: 400
        line-height: 24px /* 150% */
    &__grid
        max-width: 1281px
        min-height: 388px  
        display: grid
        justify-content: center
        align-content: center
        row-gap: 12px
        column-gap: 12px
        grid-template-areas: 'A B C' 'D E F'  
        // grid-template-columns: 419px 419px 419px        
        grid-template-rows:  188px 188px  
        grid-template-columns: repeat(auto-fit, minmax(120px,419px))
                
        
        

.workculture-grid        
    &__A
        grid-area: A        
    &__B
        grid-area: B
    &__C
        grid-area: C
    &__D
        grid-area: D
    &__E
        grid-area: E
    &__F
        grid-area: F
    

.workculture-grid_moda     
    padding: 32px 0 0 32px   
    background: #FFF    
    max-width: 418px
    &__bold          
        color: var(--Black, #232536)
        /* H6 Heading */
        font-family: Poppins
        font-size: 16px
        font-style: normal
        font-weight: 600
        line-height: 28px /* 175% */  
        margin-bottom: 10px      
    &__light        
        color: var(--Black, #232536)
        /* Paragraph */
        font-family: Poppins
        font-size: 16px
        font-style: normal
        font-weight: 400
        line-height: 24px /* 150% */   
        padding-bottom: 32px       
    &__circle        
        margin-bottom: 8px
        display: flex
        justify-content: center
        align-content: center
        width: 40px
        height: 40px 
        border-radius: 50px 
        background: #FFD3AF80
        fill: rgba(255, 211, 175, 0.50)
        img
            width: 14.47px
            color: #000
            font-family: Poppins
            font-size: 16px
            font-style: normal
            font-weight: 400
            line-height: 20px /* 125% */

@media (max-width: 1024px)
    .workculture-grid
        grid-template-areas: 'A B' 'C D' 'E F' 
    .work-culture
        
        &__grid
            min-height: 750px 

@media (max-width: 768px)
    .workculture-grid
        grid-template-areas: 'A' 'B' 'C' 'D' 'E' 'F'
    .work-culture
        
        &__grid
            min-height: 1350px 
        &__h3
            margin-bottom: 32px

@media (max-width: 425px)
    .workculture-grid
        grid-template-areas: 'A' 'B' 'C' 'D' 'E' 'F'
        justify-items: center
    .work-culture   
        min-width: 320px     
        &__grid
            
            min-height: 1350px 
        
        &__h3
            margin-bottom: 32px
    .workculture-grid_moda
        
        min-width:300px
        padding: 32px 0 0 32px
  


/* ---------------   CTA   NEWSLETTER  --------------*
.newslettern
    display: flex    
    margin-bottom: 96px    
    max-width: 1280px
    min-height: 333px
    &__img
        position: absolute
        left:0
    &__h1
        padding-top: 96px
        margin-bottom: 12px
        color: #FFF        
        font-family: Poppins
        font-size: 14px
        font-style: normal
        font-weight: 500
        line-height: 20px /* 142.857% */
        letter-spacing: 3px
        text-transform: uppercase
    &__h2
        padding-bottom: 96px
        max-width: 500px        
        color: #FFF        
        font-family: Poppins
        font-size: 36px
        font-style: normal
        font-weight: 600
        line-height: 54px /* 150% */
    &__blue
        position: relative
        display: flex
        justify-content: space-around
        align-content: center
        width: 1256px
        height: 333px
        background: var(--secondary-blue, #666DFF)
    &__blue-right               
        padding-top: 141px
        padding-bottom: 128px        
    &__input-email
        width: 500px        
        height: 64px
        color: black
    &__rectange-top
        width: 24px
        height: 75px
        background: #FFA155
    &__rectange-center
        width: 24px
        height: 195px
        background: #FFD3AF
    &__rectange-bottom
        width: 24px
        height: 63px
        background: #4F56FF        
    
@media (max-width: 1024px) 
    .newslettern        
        max-width: 1024px       
        &__blue            
            max-width: 999px            
        &__rectange
            max-width: 24px
        &__blue-left
            max-width: 500px            
        &__blue-right     
            max-width: 400px       
        &__input-email
            max-width: 400px           
        &__rectange-top
            width: 24px        
        &__rectange-center
            width: 24px        
        &__rectange-bottom
            width: 24px        

@media (max-width: 768px)
    .newslettern        
        max-width: 700px        
        min-height: 400px        
        &__h1
            padding-top: 25px
            margin-bottom: 10px
            padding-left: 75px        
        &__h2            
            padding: 0 0 0 75px
            max-width: 500px        
        &__blue            
            flex-wrap: wrap
            align-content: space-around
            max-width: 744px            
            min-height: 450px            
        &__blue-right               
            padding-top: 41px
            padding-bottom: 28px
        &__input-email
            max-width: 295px   
        &__rectange
            max-height: 450px
        &__rectange-top
            width: 24px
            height: 115px        
        &__rectange-center
            width: 24px
            height: 225px        
        &__rectange-bottom
            width: 24px
            height: 110px
        
@media (max-width: 425px)    
    .newslettern        
        justify-content: center
        max-width: 425px
        min-height: 400px
        &__img
            width: 50px        
        &__h1
            padding: 0 
            margin-bottom: 5px        
            font-size: 10px        
        &__h2
            padding: 0 
            max-width: 405px            
            font-size: 24px            
        &__blue                 
            max-width: 405px
        &__blue-left
            max-width: 405px            
        &__blue-right  
            padding: 0 
            max-width: 405px            
        &__input-email
            padding: 0 
            max-width: 290px            
        &__rectangle
            min-height: 500px
        &__rectange-top
            width: 20px
            height: 115px        
        &__rectange-center
            width: 20px
            height: 225px        
        &__rectange-bottom
            width: 20px
            height: 110px

    .header-menu
        display: none
    .menu-btn
        display: block
        position: relative  
        z-index: 5
        width: 30px
        height: 30px
        overflow: hidden
        
        
        span 
            left: 30%
            width: 30px
            height: 2px
            position: absolute
            
            transform: translate(-50%, -50%)
            background-color: #dd1515
            transition: all 0.5s
            &:nth-of-type(2) 
                top: calc(50% - 5px)
            &:nth-of-type(3)
                top: calc(50% + 5px)
    


    /* Меняем гамбургер иконку, когда меню открыто */
    
    .active span:nth-of-type(1) 
        display: none

    .active span:nth-of-type(2) 
        
        left: 50%
        top: 50%
        transform: translate(-50%, 0%) rotate(45deg)  

    .active span:nth-of-type(3) 
       
        left: 50%
        top: 50%
        transform: translate(-50%, 0%) rotate(-45deg) 



    .header-menu-togle
        // display: none

        position: absolute
        z-index: 3
        top: 0
        right: 0
        // width: 100%
        // height: 100%
        padding: 15px
        background: #353432
        transform: translateX(-100%)
        transition: transform 0.5s
        li
            list-style-type: none

    // .header-menu-togle
    .active
        transform: translateX(0)
        display: block

    

/*------------ js togle--------------*/

/*----------- footer top --------------*/

.footer-top
    width: 1278px
    height: 416px
    &__img
        margin-bottom: 32px
    &__hr
        margin-bottom: 16px
        width: 268px
        height: 1px
        background: rgba(0, 0, 0, 0.08)
    &__main
        display: flex
        justify-content: space-start
        gap: 204px
    &__right
        display: flex
        justify-content: space-start
        gap: 50px
    &__bottom
        margin-bottom: 64px
        display: flex
        justify-content: space-between
        align-items: end
        
.footer-top-main    
    &__left-make
        margin-bottom: 40px
        color: #232536
        /* H2 Heading */
        font-family: Poppins
        font-size: 48px
        font-style: normal
        font-weight: 600
        line-height: 58px /* 120.833% */
    &__talk
        margin-bottom: 28px
        color: #232536
        /* H4 Heading */
        font-family: Poppins
        font-size: 24px
        font-style: normal
        font-weight: 600
        line-height: 36px /* 150% */
    &__left-num
        color: #232536
        margin-bottom: 4px
        /* Paragraph Large */
        font-family: Poppins
        font-size: 18px
        font-style: normal
        font-weight: 500
        line-height: 28px /* 155.556% */
    &__left-email
        color: #232536
        margin-bottom: 14px
        /* Paragraph Large */
        font-family: Poppins
        font-size: 18px
        font-style: normal
        font-weight: 500
        line-height: 28px /* 155.556% */  
    
        
    &__ul  
        margin-bottom: 15px              
        a
            padding-top: 15px         
            color: #232536
            /* H6 Heading */
            font-family: Poppins
            font-size: 16px
            font-style: normal
            font-weight: 600
            line-height: 28px /* 175% */
    &__li  
        padding-top: 15px         
        a    
            padding-top: 15px  
            color: #232536
            /* Paragraph Small */
            font-family: Poppins
            font-size: 14px
            font-style: normal
            font-weight: 500
            line-height: 20px /* 142.857% */
    
.footer-top-bottom 
    color: red   
    &__dlf
        color: #232536
        /* Paragraph Small */
        font-family: Poppins
        font-size: 14px
        font-style: normal
        font-weight: 500
        line-height: 20px /* 142.857% */
    &__contact
        color: #232536

        /* Text link */
        font-family: Poppins
        font-size: 16px
        font-style: normal
        font-weight: 500
        line-height: 24px /* 150% */
        &::before            
            content: url(../images/careers/footrtop/shapescontact.svg) "\00a0" "\00a0"

        &::after             
            content:"\00a0" "\00a0" "\00a0" url(../images/careers/footrtop/iconcontact.svg) 


    

    




